## Arithmetic Operators

In [8]:
# Arithmetic Operators
# Python supports basic arithmetic operations:
# Addition (+), Subtraction (-), Multiplication (*), Division (/), Modulus (%), Exponentiation (**)

a = 10
b = 3

print("Addition:", a + b)
print("Subtraction:", a - b) # Your code from here and on 
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

## Expressions

In [10]:
# Expressions
# An expression is a combination of values, variables, and operators that Python can evaluate.

x = 6
y = 3
a = x * (y + 4) # Your code to change a and b to different expressions
b = x * y + 4

print("Expression result: a =", a, " b =", b)

Expression result: a = 42  b = 22

## Arithmetic Functions

In [16]:
# Arithmetic Functions
# Python provides built-in functions like round() and abs()

value = -6.78156

print("Absolute value:", abs(value))
print("Rounded value:", round(value, 3))

# Absolute value = 7.89627
# Rounded value = -7.896

# Your code here

Absolute value: 6.78156
Rounded value: -6.782

## Strings

In [ ]:
# Strings
# Strings are sequences of characters enclosed in quotes.

greeting1 = "What it be!"
greeting2 = 'What' + ', it ' + "be!"
print(greeting1)
print(greeting2)
# you can add strings and fuctions like len() and upper(), within the parentheses,  with a comma " , "
print("Length of string 1:", len(greeting1))
# len also counts spaces as well
print("Uppercase:", greeting2.upper())

# Your code here

What it be!
What, it be!
Length of string 1: 11
Uppercase: WHAT, IT BE!

## Values and Variables

In [19]:
# Values and Variables
# Variables store values. Use type() to check the type of a value.

num = 2005
text = "Cobra"
# underscore for naming, notLikeThis
int_num = int("413")

print("Type of num:", type(num))
print("Type of text:", type(text))
# to convert different types, put it in parentheses within other functions
print("Convert string to int:", int("413"))
print("Convert string to float:", float("413.314"))
print("Convert float to int:", int(413.314))

# Your code here

Type of num: <class 'int'>
Type of text: <class 'str'>
Convert string to int: 413
Convert string to float: 413.314
Convert float to int: 413

## Variable Assignments and Statements

In [ ]:
# Variable Assignments and Statements
# Use = to assign values to variables.
# No semicolon needed at the end of the line

x = 10
y = x + 5
print("Value of y:", y)

# Should be 15
# Yay!

Value of y: 15
0
1
2
3
4

## Variable Naming Rules and Keywords

In [ ]:
# Variable Naming Rules and Keywords
# Variable names must start with a letter or underscore and cannot be Python keywords.

# Valid variable names
my_var = 1
_var2 = 2

# Invalid: 2var = 3 (starts with a number)
# Invalid: if = 4 (if is a keyword)

# Here is a list of Python keywords: 
# False       await       else        import      pass        
# None        break       except      in          raise       
# True        class       finally     is          return      
# and         continue    for         lambda      try         
# as          def         from        nonlocal    while       
# assert      del         global      not         with        
# async       elif        if          or          yield       


import keyword
print("Python keywords:", keyword.kwlist) # Print out a list of Python keywords

## Math Module

In [ ]:
# Math Module
# Import the math module to access mathematical functions

import math

# math.sqrt, math.pi, and math.cos returns as a float
print("Square root of 81:", math.sqrt(81))
print("Value of pi:", math.pi)
print("Cosine of 0:", math.cos(0))


# Your code here to use math functions. Do what you like!

Square root of 81: 9.0
Value of pi: 3.141592653589793
Cosine of 0: 1.0

## TypeErrors

In [28]:
# TypeErrors
# TypeErrors occur when operations are applied to incompatible types

# Example:

#TypeError can only concatenate str (not "int") to str

try:
    result = "hello" + 5
except TypeError as e:
    print("TypeError:", e)

# Fix the error

TypeError: can only concatenate str (not "int") to str

## Comments

In [ ]:
# Comments
# Use comments to explain code. Comments start with #

# This is a comment
x = 5  # Assign 5 to x
print(x) # Add a comment here

# Exercises
# Try these:
# 1. Create a variable and assign it a string.
# 2. Use math.sqrt() to find the square root of a number.
# 3. Write a comment explaining what your code does.

In [ ]:
hr_of_sleep = 5

In [30]:
math.sqrt(25)

5.0

In [ ]:
# the code I wrote above is a rough estimate of the amount of hours I sleep recently, no worries, it is worth it!

## Functions

In [33]:
# Functions
# Functions are reusable blocks of code defined using def

# like methods in Java, except no curly braces, only indents

def suprised():
    print("Get out of town!")

suprised()

# Your code here to define and call more functions

Get out of town!

## Parameters and Arguments

In [ ]:
# Parameters and Arguments
# Functions can accept parameters

# dont forget the semicolon at the end of the def function

def greet(name):
    print("Hello", name)

greet("Adonis")

# Your code here to define and call functions with parameters

Hello Adonis

## Calling Functions and Local Variables

In [ ]:
# Calling Functions and Local Variables
# Variables inside functions are local to that function

def add(a, b):
    result = a + b
    return result

print("Sum:", add(3, 4))

print(result)  # This will raise an error because result is local to add()

# Your code here to define and call more functions with local variables

Sum: 7

7

## Loops

In [ ]:
# Loops
# Use for loops to repeat actions

# for loop starts at 0

for i in range(5):
    print("Iteration", i)

# Your code here to define and use more loops

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4


# Loop Through a List
Loop through a list of forces and calculate stress using σ = F / A. Flag any stress that exceeds the yield limit.

In [39]:
forces = [500, 1000, 1500, 2000]  # in Newtons
area = 0.005  # cross-sectional area in m²
yield_limit = 300000  # in Pascals

for F in forces:
    stress = F / area
    status = "OK"
    if stress > yield_limit:
        status = "Exceeds yield limit!"
    print(f"Force: {F} N → Stress: {stress:.2f} Pa → {status}")

# Modify the code above to add more forces and change area and yield_limit

Force: 500 N → Stress: 100000.00 Pa → OK
Force: 1000 N → Stress: 200000.00 Pa → OK
Force: 1500 N → Stress: 300000.00 Pa → OK
Force: 2000 N → Stress: 400000.00 Pa → Exceeds yield limit!

# Print Text

In [40]:
print(text[:5]) # NameError: name 'text' is not defined. Need to define 'text' first.

# Fix the error

Cobra

# Final Exercises
# 1. Write a function that returns the square of a number.
# 2. Use a loop to print numbers from 1 to 10.
# 3. Use round() and abs() in a function.

In [47]:
def squarer(x):
    return x ** 2

squarer(5)

25

In [ ]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [82]:
def positiveOnly(x):
    if x < 0:
        return abs(x)
    else:
        return round(x, 2)
    
positiveOnly(2.192)

2.19